name: Pipeline CD Desarrollo

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: read
  packages: write
  actions: read

jobs:
  compile_and_test:
    uses: servitekconsulting/reusable-workflows/.github/workflows/test_nodejs.yaml@main
    with:
      environment: "qa"
      node-version: "20"
      package-manager: "npm"
      working-directory: "."
      nodejs_build: true
    secrets: inherit

  build_deploy:
    permissions:
      contents: read
      packages: write   # requerido para hacer push a GHCR
      id-token: write   # requerido para cosign con OIDC

    uses: servitekconsulting/reusable-workflows/.github/workflows/build_deploy.yaml@main
    needs: [compile_and_test]
    secrets: inherit
    with:
      working-directory: .
      image-name: ms-tipo-de-cambio
      environment: qa

  owasp_scan:
    permissions:
      contents: read
      issues: write
    uses: servitekconsulting/reusable-workflows/.github/workflows/owasp_scan.yaml@main
    needs: [build_deploy]
    with:
      environment: qa
      owasp_target: 'http://135.237.235.57/'
    secrets: inherit

  chatgpt-failure-advisor:
    needs: [compile_and_test, build_deploy, owasp_scan]
    if: failure()     # ← condición para que solo corra si falló algún job previo
    uses: servitekconsulting/reusable-workflows/.github/workflows/chatgpt_failure.yaml@main
    permissions:
      contents: read
      actions: read    # ← si tu script usa la API de Actions/logs
    with:
      python_version: '3.10'
      environment: qa
    secrets: inherit
